@font-face {
  font-family: 'Invention';
  src: url('assets/fonts/Invention_Rg.ttf');
}

* {
  font-family: 'Invention';
  box-sizing: border-box;
}

.poultry-page-header-wrapper {
  background-color: rgba(0, 133, 124, 1);
  /* height: 120px; */
}

.poultry-page-inner-wrapper {
  width: 1170px;
  margin: auto;
}
.poultry-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.poultry-page-title {
  color: white;
  font-weight: normal;
  font-size: 45px;
}

.poultry-page-subheader {
  display: flex;
  background-color: rgb(2, 30, 66);
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.poultry-page-subtitle {
  color: white;
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
  padding: 20px;
}

.poultry-page-instructions {
  font-weight: bold;
  font-size: 24px;
  color: rgb(18, 133, 123);
  text-align: center;
  margin: 40px 0;
}

.poultry-page-instructions-mobile {
  font-weight: bold;
  font-size: 24px;
  color: rgb(18, 133, 123);
  text-align: center;
  margin: 40px 0;
  display: none;
}

.poultry-table-logo {
  height: 60px;
  padding-left: 30px;
}

.poultry-table-wrapper {
  display: flex;
  width: 1170px;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

.poultry-table-item-wrapper {
  height: 400px;
  position: relative;
  padding: 0;
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 234px;
}

.poultry-table-item-wrapper.poultry-table-item-1 {
  background-image: url('assets/images/poultry-item-img-1.jpg');
}

.poultry-table-item-wrapper.poultry-table-item-2 {
  background-image: url('assets/images/poultry-item-img-2.jpg');
}
.poultry-table-item-wrapper.poultry-table-item-3 {
  background-image: url('assets/images/poultry-item-img-3.jpg');
}
.poultry-table-item-wrapper.poultry-table-item-4 {
  background-image: url('assets/images/poultry-item-img-4.jpg');
}
.poultry-table-item-wrapper.poultry-table-item-5 {
  background-image: url('assets/images/poultry-item-img-5.jpg');
}

.poultry-table-item-header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 133, 124, 0.85);
  height: 60px;
  padding: 0 10px;
  bottom: 0;
  transition: bottom ease 1s, background-color ease 1s;
}

.poultry-table-item-header-text {
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.poultry-table-description-wrapper {
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 100%;
  height: calc(100% - 60px);
  background-color: white;
  transition: height ease 1s, top ease 1s;
  border-top: 6px solid rgb(2, 30, 66);
}

.poultry-table-description-button {
  background-color: rgba(0, 133, 124, 1);
  border: 3px solid rgba(0, 133, 124);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  width: 180px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.3s ease 1s, color 0.3s, background-color 0.3s;
}

.poultry-table-description-button:hover {
  color: rgba(0, 133, 124, 1);
  background-color: transparent;
}

/* Hover states */
@media only screen and (min-width: 1024px) {
  .poultry-table-item-wrapper:hover .poultry-table-item-header {
    bottom: calc(100% - 60px);
    background-color: rgba(0, 133, 124, 1);
  }

  .poultry-table-item-wrapper:hover .poultry-table-description-wrapper {
    height: calc(100% - 60px);
    top: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .poultry-page-instructions {
    display: none;
  }

  .poultry-page-instructions-mobile {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .poultry-table-wrapper {
    width: 95%;
  }

  .poultry-page-inner-wrapper {
    width: 100%;
  }

  .poultry-page-header {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 870px) {
  .timeline-page-header {
    padding: 0 20px;
  }
  .poultry-page-header {
    padding: 0 20px;
  }
  .poultry-page-title {
    font-size: 30px;
  }

  .poultry-page-subtitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .poultry-page-title {
    font-size: 25px;
  }

  .poultry-page-subtitle {
    font-size: 18px;
  }

  .poultry-table-logo {
    height: 40px;
  }
}

@media only screen and (max-width: 510px) {
  .poultry-table-item-wrapper {
    width: 100%;
  }
}
